<div class="">
  <ul class="">
  <%@tweets.each do |tweet|%>
    <li style="background-image: url(<%= tweet.image %>);">
  　</li>
    <li class="">

    <%= link_to 'ユーザー名', user_path(tweet.user.id), method: :get %>
    <%= tweet.name %>
    </li>
    <li class="">ドリンク名<%= tweet.drink_name %></li>
    <li class="">追加したカスタム<%= tweet.custom_name %></li>
    <li class="">
      
<%# if current_user %>
 <%= form_tag("/tweets/@tweet.id/comments", method: :post) do %>
 <textarea cols="30" name="text" placeholder="コメントする"　rows="2"></textarea>
 <input type="submit" value="SENT">
 <% end %>
<%# end %>

    </li>
  <% end %>
  </ul>
</div>
