<div class="">
 <%= form_for @tweet do |f| %>
 <h3>投稿する</h3>
 <%= f.text_field :name, placeholder: "Username" %>
 <%= f.text_field :drink_name, placeholder: "Drinkname" %>
 <%= f.text_field :custom_name, placeholder: "Customname" %>
 <%= f.text_field :image, placeholder: "IMG URL", class: "image" %>


 <%= f.submit "送信" %>


 <% end %>














