<div style="width: 300px; margin: auto;"class="">
  <h2><%= @user.name %>のおすすめ</h2>
   
  <ul class="">
  <%@tweets.each do |tweet|%>
    <li class=""style="background-image: url(<%= tweet.image %>); background-repeat: no-repeat; width: 300px;
    height: 300px; list-style:none">
    </li>
    <li class="">ドリンク名
    <%= tweet.drink_name %></li>
    <li class="">追加したカスタム
    <%= tweet.custom_name %></li>
    <li class="">＜コメント一覧＞
      <%if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </li>
  <%end%>
  </ul>

  <%= link_to '前のページに戻る', "/tweets
  ", method: :get %>
</div>
